extends layout
include utils.pug

block head
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="/stylesheets/pawst.css")


block content
  div(class='container')
    div(class='pawst-body')
      div(class='title')
        h3(class='post-title')= post.title
      if (post.subtitle)
        div(class='subtitle')
          h3(class='post-subtitle')= post.subtitle
      div(class='author-utils')
        div(class='author-date')
          a(href=`/users/${post.userId}` class='post-author')= userName
          div(class='date')= post.updatedAt.toDateString()
        div(class='edit-delete')
          if (locals.user && locals.user.id === post.userId )
            div(class='function-btns')
              form(action=`/pawsts/${post.id}/edit` method="get")
                button(type="submit") Edit
              form(action=`/pawsts/${post.id}/delete` method="post")
                button(type="submit") Delete
      hr
      div(class="content")
        pre(id='post-content')= post.content
      div(class="pawst-content-footer")
        div(class="author")= userName
        div(class="likes-stats")
          div(class="like-icon")
            span(class="material-icons like-btn") pets
          div(class="like-count")
            p(class="like-display")= catnipsCount
            //- send back like amount
        div(class="pawments-stats")
          div(class="pawment-icon")
          div(class="pawment-count")
      div(id="pawments-container")
        if locals.authenticated
          div(class='new-pawment-box')
            form(id='new-pawment-form' action='#')
              input(type='hidden' name='_csrf' value=csrfToken)
              +field('content', content, 'textarea', 'Pawment')
              div(class='')
                button(id='comment-submit' type='submit' class='btn btn-primary') Submit
        div(id='pawments-list')

          each pawment in pawments
            div(class="pawment")
              div(class="pawmenter-info")
                div(class="commenter-name")= userName
                div(class="pawment-date")= pawment.updatedAt.toDateString()
              div(class="pawment-content")= pawment.content
              if locals.authenticated
                div(class="pawment-buttons")
                  form(action=`/pawments/${pawment.id}/edit` method="post")
                    button(type="submit") Edit
                  form(action=`/pawments/${pawment.id}/delete` method="post")
                    button(type="submit") Delete
  script(type='module' src="/javascripts/index.js")
