extends layout 

block content 
    div(class='user-bio')
        div(class='user-name')= userName
        div(class='user-email')= email
    div(class='pawst-body')
        div(class='title')= post.title
        if (post.subtitle)
            div(class='subtitle')= post.subtitle
        div(class='post-info')
            div(class='author')= userName
            div(class='date')= post.updatedAt
            if (locals.user.id === post.userId)
                div(class='function-btns')
                    form(action=`/pawsts/${post.id}/edit` method="get")
                        button(type="submit") Edit 
                    form(action="/pawsts/delete" method="delete")
                        button(type="submit") Delete
        div(class="content")= post.content
        div(class="pawst-content-footer")
            div(class="author")
            div(class="likes-stats")
                div(class="like-icon")
                div(class="like-count")
            div(class="pawments-stats")
                div(class="pawment-icon")
                div(class="pawment-count")
        div(class="pawments-container")
            //- each pawment in pawments
            //- div(class="pawment")
            //-     div(class="pawmenter-info")
            //-         div(class="commenter-name")
            //-         div(class="pawment-date")
            //-     div(class="pawment-content")